body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bannerSection {
  background: linear-gradient(-45deg, #28a745, #007bff, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  min-height: calc(100vh - 82px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card img {
  object-fit: contain;
  object-position: center;
}
.rowGap {
  grid-row-gap: 30px;
}
.cartBox {
  position: fixed;
  top: 0;
  height: 100vh;
  right: 0;
  width: 300px;
  z-index: 9;
  background-color: #fff;
  padding: 15px;
  z-index: 2;
}
.cartItem h6 {
  font-size: 14px;
}
.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.cartItemsOuter {
  max-height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}
